/*Custom Styles*/



/*Grid*/

.container{
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
      width: 960px;
}

*,
*:before,     
*:after {
       -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/* Clearfix */


/*Rows*/



/*Typeography*/

h1, h3, h4, h5, p{
      margin-bottom: 22px;
}


/*Leads*/


/*Links*/



/*Buttons*/

.btn {
      border-radius: 5px;
      display: inline-block;
      margin: 0;
}

.btn-alt {
      border: 1px solid #dfe2e5;
      padding: 10px 30px;
}

/*Primary Header*/



/*Primary Footer*/



/*Navigation*/




/*Home*/

.hero {
      padding: 22px 80px 66px 80px;
}      


/*Speakers*/


/*Schedule*/



/*Venue*/



/* Register */




     