html, body {
    font-family: "Lobster", sans-serif;
    font-size: 24px;
}
.container1 {
    margin: 60px;
    padding: 40px 25px 25px 15px;
    position: absolute;
    width: 100%;
    height: 10vw ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.container1 img {
    height: 10vw;
    vertical-align: middle;
}

.copy-nav {
  position: absolute;
  top: 600px;

}

.nav1 {
  letter-spacing: normal;
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-right: 30px;
    justify-content: space-around;
}

.nav1 > a {
    color: black;
}
.nav1 > i {
    color: black;
}

  .slideshow-images {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: white;
  }
.slideshow-images::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: silver;
    opacity: 0.8;
}
.slideshow-images > img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slideshow 20s linear infinite;
}

.slideshow-images img:nth-child(2) {
    animation-delay: 5.5s;
}
.slideshow-images img:nth-child(3) {
    animation-delay: 10.5s;
}
.slideshow-images img:nth-child(4) {
    animation-delay: 19.5s;
}
@keyframes slideshow {
    0% {
        opacity: 0;
    }
    2.5% {
        opacity: 1;
    }
    22.5% {
        opacity: 1;
    }
    47.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#main {
    position: relative;
    width: 100%;
    height: 100vh;

}
#main p {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
}

.mainstory {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vw;
    float: left;
    width: 800px;
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 500px;
}
.mainstory  p {
  display: inline-block;
}
.mainstory img {
  max-width: 300px;
  height: 300px;
}
.menu1  {
  position: relative;
  top: 40vw;
  left: 150px
  height: 400px;
  padding: 30px 20px 20px 15px;
  margin: 40px;
}
.menu2 {
  position: relative;
  margin: 40px;
  padding: 30px 20px 20px 15px;
}
#coffees {
  padding: 10px 15px 15px 5px;
  max-width: 500px;
  margin: 10px 50px 20px;  
}
#coffees p {
  float: left;
}
#coffees img {
  max-width: 100px;
  height: 100px;
}
.drinks {
  margin: 10px 50px 20px;
  padding: 5px 3px 3px 5px;
  max-width: 500px;
}
.drinks img {
  max-width: 100px;
  height: 100px;
}
.bakery {
  margin: 10px 50px 20px;
  padding: 5px 3px 3px 5px;
  max-width: 500px;
}
.bakery img {
  max-width: 100px;
  height: 100px;
}
.breakfast img {
  max-width: 100px;
  height: 100px;
}
.lunch img {
  max-width: 100px;
  height: 100px;
}
#socialmedia img {
  max-width: 300px;
  height: 300px;
}
#socialmedia {
  max-width: 500px;
  max-height: 500px;
  margin: 90px;
  margin-left: 100px;
  padding: 45px 35px 35px 30px;
}
#soc-links a {
  margin: 1em;
  padding: 25px 10px 10px 5px;
}
.contactorder img {
  max-width: 100px;
  height: 100px;
}
form {
  padding: 15px 15px 15px 10px;
  margin: 30px;
}
  input[type=text], select, textarea {
    width: 100%;
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
  }
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: gray;
  }
  .contactform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  #buynow {
    padding: 16px;
    font-size: 12px;
    color: #f2f2f2;
    border-radius: 8px;
    background-color: #555555;
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  #buynow:hover {
    background-color: #f2f2f2;
    color: #555555;
  }
  #coffeeorder figure > img {
    max-width: 35px;
    height: 35px;
  }

.slidequote-container {
    position: relative;
    background: #f1f1f1f1;
  }
  .slidequotes {
    display: block;
    padding: 80px;
    text-align: center;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  q {
    font-style: italic;
}
  .author {
    color: cornflowerblue;
}

.atmosphere{
  position: fixed;
  top: 50%;
}

.atmosphere h1 {

    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
}
