html, body {
    font-family: "Lobster", sans-serif;
    font-size: 400;
}
#mobile-menu {
    display: none;
}
.container1 {
    position: fixed;
    width: 100%;
    height: 10vw ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container1 img {
    height: 10vw;
    vertical-align: middle;
}

#nav1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#nav1 > a {
    color: antiquewhite;
}
#nav1 > i {
    color: antiquewhite;
}
#slideshow-images {
    max-width: 100%;
}
main {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#mainstory {
    background-image: url("../css/project-images/fisherman-illustration.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#mainstory  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,calc(-50% + 2em));
    text-align: center;
}
