html, body{
    background-image: url("../images/hw-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center top;
}



